@using Microsoft.AspNetCore.Identity;
@using StudentProjectManager.Models.auth;
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject SignInManager<ApplicationUser> SignInManager
@inject IHttpContextAccessor HttpContextAccessor

@code {
    private bool IsAdmin { get; set; }
    private bool IsLoggedIn { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;
       
        IsAdmin = user.IsInRole("Admin");

        IsLoggedIn = HttpContextAccessor.HttpContext.User.Identity.IsAuthenticated;
    }
}

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">StudentProjectManager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @if (IsAdmin)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="manage-user-roles">
                    <span class="oi oi-plus" aria-hidden="true"></span> Manage Users
                </NavLink>
            </div>
        }

        @if (!IsLoggedIn)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="register">
                    Register
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="login">
                    Login
                </NavLink>
            </div>
        }
        else
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="create-team">
                    <span class="oi oi-plus" aria-hidden="true"></span> Team management
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/project">
                    <span class="oi oi-project" aria-hidden="true"></span> Projects
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/profile/edit">
                    <span class="oi oi-person" aria-hidden="true"></span> Student Profile
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/logout">
                    Logout
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
